  header {
    &.lifeblood {
      .header-1 {
        padding: 0;
        .header-1__img {
          width: 100%;
        }
      }
      .header-2 {
        background: #f5f5f5;
        h1 {
          font-size: 3rem;
          color: #333;
         
        }
        span {
           background-color: #dd1725;
           display: block;
           width: 5rem;
           height: .5rem;
        }
        .lifeblood__header-nav {
          color: #333;

          a{
            position: relative;
            margin-right: 1rem;
          }
        a:not(:last-child)::after{
          content: "";
          background-color: #dd1725;
          display: inline-block;
          width: 0.3rem;
          height: 3rem;
          position: absolute;
          top: -3px;
          right: -9px;

          
        }

          a:hover {
            color: #ff0000;
          }
          span {
          }
        }
      }
      .header-3 {
        font-family:$karla;
        color: #fff;
        position:absolute;
        bottom: 15px;
        right:30px;
        font-size: 2.5rem;
        font-weight:$bold ;
      }
      .arm {
        height: 200px;
        width:100%;
        position: relative;
        background-color: $mid-green;
        img {
          position: absolute;
          top: 50%;  
          left: 0;
          width: 55%;
          transform: translate(0 ,-50%);
        }
      }

      .question {
        position: relative;
        padding-right: 5rem;
        height: 100%;
        width: 100%;
        overflow: hidden;

        img {
          position: absolute;
          width:100%;  
          top:50%;
          left:50%;
          transform: translate(-50% , -50%);     
      }
    }
      // ATM Image
      .atm {
        position: relative;
        background-color: #f4ae17;
        height: 100%;

        img {
          position: absolute;
          width: 40%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin:10px 10px;
          padding:  10px 10px;
        }

       
      }
    }
  
  }