// Font Stacks

//$font-url : 'https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Playfair+Display:700';

@mixin do-font-face($name, $file-name, $url, $type, $weight, $style){
  @font-face {
    font-family: $name;
    //src: url(#{$url + $file-name}.eot);
    //src: url(#{$url + $file-name}.eot?#iefix) format('embedded-opentype');
    @if $type == "otf"{
      src: url(#{$url + $file-name}.otf) format('opentype');
    }
    @if $type == "ttf"{
      src: url(#{$url + $file-name}.ttf) format('truetype');
    }
    @if $type == "woff"{
      src: url(#{$url + $file-name}.woff);
    }
    @if $type == "woff2"{
      src: url(#{$url + $file-name}.woff2);
    }
    font-weight: $weight;
    font-style: $style;
  }
}



@include do-font-face('Karla', 'Karla-Regular', '../fonts/', 'ttf', normal, normal);

@include do-font-face('Karla-b', 'Karla-Bold', '../fonts/', 'ttf', normal, normal);
@include do-font-face('Karla-i', 'Karla-Italic', '../fonts/', 'ttf', normal, normal);
@include do-font-face('Karla-s', 'Karla-SemiBold', '../fonts/', 'ttf', normal, normal);
@include do-font-face('Playfair-b', 'PlayfairDisplay-Bold', '../fonts/', 'ttf', bold, normal);
@include do-font-face('Oswald-r', 'Oswald-Regular', '../fonts/', 'ttf', normal, normal);
@include do-font-face('Richie','Richie-Brusher', '../fonts/', 'ttf', bold, normal);
@include do-font-face('Quicksand', 'Quicksand-Regular', '../fonts/', 'ttf', normal, normal);
@include do-font-face('Quicksand', 'Quicksand-Medium', '../fonts/', 'ttf', 500, normal);



//Font-color
$white : #fff;
$black:#333;

//Font-size
$base-font-size: 1rem;

//Font family
$karla    : 'Karla', sans-serif;
$karla-b  :'Karla-b', sans-serif;
$karla-s: 'Karla-s', sans-serif;
$karla-i: 'Karla-i', sans-serif;
$playfair-b : 'playfair-b', sans-serif;
$oswald-r : 'Oswald-r', sans-serif;
$richie : 'Richie' , sans-serif;


//Font -weight
$normal         : normal;
$bold           : bold;
$extra-bold     : 800;
$light          : 100;



// Colors
$black: #000;
$dark-green  : #0f6b2d;
$mid-green   :  #28c56e;
$light-green  :  #61d495;
$light-orange: #f4ae17;
$white:#ffffff;
$grey:#f5f5f5;
$pink:#ff0088;

// $dark-grey   : #909090;
// $mid-grey    : #C4C4C4;
// $light-grey  : #E7E7E7;
// $white-smoke : #F6F6F6 ;
// $dim-grey    : #686868;
// $black-backgorund : #232323;

// $border-color : #DDDDDD;
// $footer-bg    : #2D2D2D;


//SVG to downlodad
//icomoon
// twitter
// facebook
// instagram
// search-icon
// pinterest
// playicon
// forward
// next
// previous

.mt-n2 {
  margin-top: -2rem;
}

.mt-n1 {
  margin-top: -.4rem;
}
.mt-n4{
  margin-top: -4rem;
}
.mr-n5{
  margin-right: -5rem;
}

