html, body {
  overflow-x: hidden;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
 
  color:#333;
  font-size: 2rem;
  font-family: $karla;
  font-weight: 600;
}


a {
  
  color: #333;
  text-decoration: none;

  &:hover {
    color: #333;

  }
}

.container{
  padding:0 20rem;
}
