.submit{
    h1{
        text-align: center;
        font-size: 3.2rem;
        font-weight: bolder;
        color: #070606;
        letter-spacing: -2px;
        font-family: "playfair-b", sans-serif;
    }
    h2{
        text-align: center;
        font-size: 2.5rem;
        color: #565656;
        font-family: "Oswald-regular", sans-serif;
        margin-top: -15px;
    }
    .input-group-text{
        background-color: $black;
        color:$white;
    }

    
    
    

}
